{
  "name": "xearts/wordpress-vccw-skeleton",
  "license": "MIT",
  "authors": [
    {
      "name": "T.Takabayashi",
      "email": "t.takabayashi@xearts.jp"
    }
  ],
  "keywords":[
    "Skeleton",
    "WordPress"
  ],
  "require": {
    "vccw-team/vccw": "master"
  },
  "repositories": [
    {
      "type": "package",
      "package": {
        "name": "vccw-team/vccw",
        "version": "master",
        "source": {
          "url": "https://github.com/vccw-team/vccw.git",
          "type": "git",
          "reference": "master"
        }
      }
    }
  ]
}
